html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Header */
header {
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem;
    border-bottom: 1px revert var(--border-color);
    position: fixed;
    background-color: var(--background-color);
    top: 0;
    left: 0;
}

/* Brand */
.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

    .brand .logo {
        width: 1.7rem;
    }

    .brand .name {
        font-size: 1.5rem;
        font-weight: 900;
        color: var(--text-title-color);
    }